h1 {
    color: #00ff00;
    font-family:"Lucida Console", Monaco, monospace;
    font-size:40px;
    white-space: nowrap;
    display:inline;
}

h3 {
	color: #F4F4F4;
	opacity: 0.6;
	font-size: 25px;
	padding-left:25px;
	margin-top:20px;
	white-space: nowrap;
    display:inline;
}

.description{
	padding-top:25px;
	display:none;
}
.blinker{	
	color:#00ff00;
	height: 35px;
	width: 5px; 
}

.name{
}
.clickables{
	display:none;
}
.divider{
    width: 100%;
}
.clickables{
	text-align:left;
}