h1 {
    color: #00ff00;
    font-family:"Lucida Console", Monaco, monospace;
    font-size:40px;
    white-space: nowrap;
    display:inline;
}

h3 {
	color: #F4F4F4;
	opacity: 0.6;
	font-size: 25px;
	padding-left:25px;
	margin-top:20px;
	white-space: nowrap;
    display:inline;
}

.description{
	padding-top:25px;
	display:none;
}
.blinker{	
	color:#00ff00;
	height: 35px;
	width: 5px; 
}

.name{
}
.hiddenAtStart{
	display:none;
}
.clickables{
	text-align:left;
}
.divider{
    width: 100%;
}
.portfolioDiv{
	text-align:center;
	padding-right:50px;
	display: inline-block;
}

.portfolioText{
	margin:auto;
	text-align:center;
	color: #F4F4F4;
	opacity: 0.8;
	font-size: 30px;
}
.portfolio
{
	border-style: solid;
    border-color: #FFFFFF;
	border-radius:10px;
}